/* variables */
:root{
    --primary: #fcc302;
    --secondary: #00bec9;
    --third: #343434;
    --nav-color: #daac00;
    --image-size: 250px;
}

/* reset */
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
li,a{
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,p{
    margin: 0;
}

/* base styles */
.container-fluid{
    padding: 30px;
}
.colored-background{
    background-color: var(--primary);
}
.white-background{
    background-color: #fff;
}
.btn-primary{
    display: inline-block;
    background-color: var(--secondary);
    color: #fff;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 10px;
}
.btn-primary:hover{
    background-color: #1eadb4;
}
.btn-outline{
    display: inline-block;
    background-color: transparent;
    color: #fff;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 10px;
    border: 2px solid #fff;
}
.btn-outline:hover{
    background-color: #fff;
    color: var(--primary);
}
.btn-secondary{
    display: inline-block;
    background-color: var(--primary);
    color: #fff;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 10px;
}
.btn-secondary:hover{
    background-color: var(--nav-color);
}
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.flex{
    display: flex;
}
.align-items{
    align-self: center;
}
.input-field{
    background-color: var(--primary);
    border: 0;
    color: #fff;
    padding: 10px;
    width: 50%;
    height: 100%;
    font-size: .85em;
    font-family: 'Poppins', sans-serif; 
}
.input-field:focus{
    border: 0;
    outline: 0;
}
/* fonts */

/* mobile styles */
.navigation{
    background-color: var(--nav-color);
    padding: 20px 30px;
    align-items: center;
}
.nav-links{
    visibility: hidden;
}
.nav-links a{
    color: #fff;
}
.search-box{
    visibility: hidden;
}
.search-box form{
    display: flex;
    justify-content: flex-end;
}
.search-box a{
    border-radius: 0;
    font-size: .85em;
    margin-left: -5px;
}
.hero-text{
    grid-column: 1/13;
    text-align: center;
}
.main-heading{
    color: #fff;
    font-weight: 600;
    font-size: 2.25em;
    margin-bottom: 10px;
}
.sub-heading{
    color: #fff;
    font-weight: 400;
    font-size: 1em;
    width: 80%;
    margin: 0 auto;
}
.hero-buttons{
    margin: 15px 0;
}
.hero-buttons a{
    width: 80%;
    margin: 5px 0;
}
.hero-img{
    grid-column: 1/13;
    text-align: center;
}
.hero-img img{
    width: 65%;
}
.animal-lover{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
    /* override to the display: grid */
    display: flex;
    flex-direction: column-reverse;
}
.lover-img{
    grid-column: 1/13;
}
.lover-img img{
    width: var(--image-size);
}
.lover-text{
    grid-column: 1/13;
}
.lover-text h3{
    color: var(--third);
    font-size: 2em;
    margin: 20px 0;
}
.lover-text p{
    color: var(--third);
    font-size: .85em;
    width: 80%;
    margin: 0 auto;
}
.lover-text a{
    margin: 20px 0;
}
.services-offered{
    text-align: center;
    color: #fff;
    padding: 20px 0;
}
.service-header{
    font-size: 2em;
    margin: 10px;
}
.service-subheader{
    font-size: .85em;
    width: 80%;
    margin: 10px auto;
}
.services-cards{
    grid-template-columns: repeat(12, 1fr);
}
.services-card1,
.services-card2,
.services-card3{
    grid-column: 1/13;
    margin: 20px;
}
.services-cards img{
    width: var(--image-size);
    border: 4px #fff solid;
}
.services-cards h4{
    font-size: 2em;
}
.services-cards p{
    font-size: .85em;
    width: 60%;
    margin: 0 auto;
}
.animal-lover2{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
    color: var(--third);
    display: flex;
    flex-direction: column-reverse;
}
.lover-img2{
    grid-column: 1/13;
}
.lover-img2 img{
    width: var(--image-size);
}
.lover-text2{
    grid-column: 1/13;
}
.lover-text2 h3{
    font-size: 2em;
    margin: 20px 0;
}
.lover-text2 p{
    color: var(--third);
    font-size: .85em;
    width: 80%;
    margin: 0 auto;
}
.lover-text2 a{
    margin: 20px 0;
}
.our-clients{
    text-align: center;
    color: #fff;
    padding: 40px 0;
}
.our-clients h3{
    font-size: 2em;
    margin: 20px 0;
}
.our-clients p{
    font-size: .85em;
    width: 80%;
    margin: 0 auto;
}
.clients-cards img{
    width: var(--image-size);
    border: 4px #fff solid;
}
.clients-cards h4{
    font-size: 2em;
}
.clients-cards a{
    margin: 10px; 
}
.clients-card1,
.clients-card2,
.clients-card3{
    grid-column: 1/13;
    margin: 25px 0;
}
.vetcare-team{
    color: var(--third);
    text-align: center;
    padding: 30px 0;
}
.vetcare-team h3{
    font-size: 2em;
    margin: 20px 0;
}
.vetcare-team p{
    font-size: .85em;
    width: 80%;
    margin: 0 auto;
}
.vet-team-card1,
.vet-team-card2,
.vet-team-card3{
    grid-column: 1/13;
    margin: 30px 0;
}
.vet-team-cards img{
    width: var(--image-size);
}
.vet-team-cards h4{
    font-size: 1.5em;
}
.vet-team-cards h5{
    font-size: .85em;
    font-weight: 400;
}
#banner-section{
    background: url(/img-assets/banner-img.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.banner{
    text-align: center;
    color: #fff;
}
.banner-item1, 
.banner-item2, 
.banner-item3{ 
    grid-column: 1/13;
    margin: 15px 0;
}
footer{
    background-color: var(--third);
    color: #fff;
}
footer a{
    color: #fff;
    padding: 0;
}
.about-footer{
    grid-column: 1/7;
    padding: 0 15px;
}
.about-footer-items{
    padding-left: 0;
}
.about-footer-item{
    font-size: .90em;
}
.services-footer{
    grid-column: 7/13;
    padding: 0 15px;
}
.services-footer-items{
    padding-left: 0;
}
.services-footer-item{
    font-size: .90em;
}
.subscribe-footer{
    grid-column: 1/13;
    text-align: center;
    justify-items: center;
    margin-top: 30px;
}
.subscribe-footer p{
    font-size: .90em;
}
.subscribe-footer form{
    margin-top: 20px;
}
.subscribe-footer input{
    width: 60%;
    height: 100%;
}
.subscribe-footer a{
    border-radius: 0;
    margin-left: -5px;
}

/* small tablet styling */
@media screen and (min-width: 620px) {
    .container-fluid{
        padding: 6% 9%;
    }
    .navigation{ 
        padding: 20px 9%;
    }
    .main-heading{
        color: #fff;
        font-weight: 600;
        font-size: 2.85em;
        margin-bottom: 10px;
    }
    .sub-heading{
        color: #fff;
        font-weight: 400;
        font-size: 1.25em;
        width: 80%;
        margin: 0 auto;
    }
    .hero-buttons a{
        font-size: 1.25em;
    }
    .hero-img img{
        width: 350px;
    }
    .lover-text h3{
        font-size: 2.25em;
        width: 65%;
        margin: 20px auto;
    }
    .lover-text p{
        font-size: 1em;
    }
    .lover-text a{
        font-size: 1.15em;
    }
    .service-header{
        font-size: 2.25em;
    }
    .service-subheader{
        font-size: 1em;
    }
    .lover-text2 h3{
        font-size: 2.25em;
        width: 65%;
        margin: 20px auto;
    }
    .lover-text2 p{
        font-size: 1em;
    }
    .lover-text2 a{
        font-size: 1.15em;
    }
    .our-clients h3{
        font-size: 2.25em;
    }
    .our-clients p{
        font-size: 1em;
    }
    .clients-cards a{
        font-size: 1.15em;
    }
    .vetcare-team h3{
        font-size: 2.25em;
    }
    .vetcare-team p{
        font-size: 1em;
    }
    .banner-item1{
        grid-column: 1/5;
    }
    .banner-item2{
        grid-column: 5/9;
    }
    .banner-item3{
        grid-column: 9/13;
    }
}

/* large tablets & laptop styles */
@media screen and (min-width: 960px) {
    .container-fluid{
        /* padding: 60px 70px; */
        padding: 6% 9%;
    }
    .navigation{ 
        padding: 20px 9%;
    }
    .navbar-brand{
        grid-column: 1/4;
    }
    .navbar-brand img{
        width: 90%;
    }
    .nav-links{
        grid-column: 4/10;
        visibility: visible;
    }
    .nav-items{
        padding: 0;
        justify-content: space-around;
    }
    .search-box{
        grid-column: 10/13;
        visibility: visible;
    }
    .hero{
        align-items: center;
    }
    .hero-text{
        grid-column: 1/8;
        text-align: left;
    }
    .sub-heading{
        margin: 0;
    }
    .hero-img{
        grid-column: 8/13;
    }
    .hero-img img{
        width: 330px;
    }
    .hero-buttons a{
        margin: 0;
    }
    .hero-buttons > a{
        margin-right: 15px;
    }
    .animal-lover{
        display: grid;
        align-items: center;
    }
    .lover-text{
        grid-column: 1/7;
        text-align: left;
    }
    .lover-text h3{
        margin: 20px 0;
        width: 100%;
    }
    .lover-text p{
        margin: 0;
    }
    .lover-img{
        grid-column: 7/13;
    }
    .lover-img img{
        width: 350px;
    }
    .services-offered{
        padding: 0;
    }
    .service-subheader{
        width: 60%;
    }
    .services-card1{
        grid-column: 1/5;
    }
    .services-card2{
        grid-column: 5/9;
    }
    .services-card3{
        grid-column: 9/13;
    }
    .services-cards img{
        width: 220px;
    }
    .services-cards p{
        width: 80%;
    }
    .animal-lover2 {
        display: grid;
        align-items: center;
    }
    .lover-text2{
        grid-column: 1/7;
        text-align: left;
    }
    .lover-text2 h3{
        margin: 20px 0;
        width: 100%;
    }
    .lover-text2 p{
        margin: 0;
    }
    .lover-img2{
        grid-column: 7/13;
    }
    .lover-img2 img{
        width: 350px;
    }
    .our-clients{
        padding: 0;
    }
    .our-clients p{
        width: 60%;
    }
    .clients-card1{
        grid-column: 1/5;
    }
    .clients-card2{
        grid-column: 5/9;
    }
    .clients-card3{
        grid-column: 9/13;
    }
    .clients-cards img{
        width: 220px;
    }
    .vet-team-card1{
        grid-column: 1/5;
    }
    .vet-team-card2{
        grid-column: 5/9;
    }
    .vet-team-card3{
        grid-column: 9/13;
    }
    .vet-team-cards img{
        width: 220px;
    }
    .about-footer{
        grid-column: 1/5;
        padding: 0;
    }
    .services-footer{
        grid-column: 5/9;
        padding: 0;
    }
    .subscribe-footer{
        grid-column: 9/13;
        margin: 0;
    }

}
