/* variables */
:root{
    --primary: #fcc302;
    --secondary: #00bec9;
    --third: #343434;
    --nav-color: #daac00;
    --image-size: 250px;
}

/* reset */
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
li,a{
    text-decoration: none;
    list-style-type: none;
}
h1,h2,h3,h4,h5,p{
    margin: 0;
}

/* base styles */
.container-fluid{
    padding: 30px;
}
.colored-background{
    background-color: var(--primary);
}
.white-background{
    background-color: #fff;
}
.btn-primary{
    display: inline-block;
    background-color: var(--secondary);
    color: #fff;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 10px;
}
.btn-primary:hover{
    background-color: #1eadb4;
}
.btn-outline{
    display: inline-block;
    background-color: transparent;
    color: #fff;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 10px;
    border: 2px solid #fff;
}
.btn-outline:hover{
    background-color: #fff;
    color: var(--primary);
}
.btn-secondary{
    display: inline-block;
    background-color: var(--primary);
    color: #fff;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 10px;
}
.btn-secondary:hover{
    background-color: var(--nav-color);
}
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.flex{
    display: flex;
}
.align-items{
    align-self: center;
}
/* fonts */

/* mobile styles */
.navigation{
    background-color: var(--nav-color);
    padding: 20px 30px;
    align-items: center;
}
.nav-links{
    visibility: hidden;
}
.nav-links a{
    color: #fff;
}
.hero-text{
    grid-column: 1/13;
    text-align: center;
}
.main-heading{
    color: #fff;
    font-weight: 600;
    font-size: 2.25em;
    margin-bottom: 10px;
}
.sub-heading{
    color: #fff;
    font-weight: 400;
    font-size: 1em;
    width: 80%;
    margin: 0 auto;
}
.hero-buttons{
    margin: 15px 0;
}
.hero-buttons a{
    margin: 0 10px
}
.hero-img{
    grid-column: 1/13;
    text-align: center;
}
.hero-img img{
    width: 65%;
}
.animal-lover{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px
}
.lover-img{
    grid-column: 1/13;
}
.lover-img img{
    width: var(--image-size);
}
.lover-text{
    grid-column: 1/13;
}
.lover-text h3{
    color: var(--third);
    font-size: 2em;
    margin: 20px 0;
}
.lover-text p{
    color: var(--third);
    font-size: .85em;
    width: 80%;
    margin: 0 auto;
}
.lover-text a{
    margin: 20px 0;
}
.services-offered{
    text-align: center;
    color: #fff;
    padding: 20px 0;
}
.service-header{
    font-size: 2em;
    margin: 10px;
}
.service-subheader{
    font-size: .85em;
    width: 80%;
    margin: 10px auto;
}
.services-card{
    grid-column: 1/13;
    margin: 20px;
}
.services-card img{
    width: var(--image-size);
    border: 4px #fff solid;
}
.services-card h4{
    font-size: 2em;
}
.services-card p{
    font-size: .85em;
    width: 60%;
    margin: 0 auto;
}
.animal-lover2{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
    color: var(--third);
}
.lover-img2{
    grid-column: 1/13;
}
.lover-img2 img{
    width: var(--image-size);
}
.lover-text2{
    grid-column: 1/13;
}
.lover-text2 h3{
    font-size: 2em;
    margin: 20px 0;
}
.lover-text2 p{
    color: var(--third);
    font-size: .85em;
    width: 80%;
    margin: 0 auto;
}
.lover-text2 a{
    margin: 20px 0;
}
.our-clients{
    text-align: center;
    color: #fff;
    padding: 40px 0;
}
.our-clients h3{
    font-size: 2em;
    margin: 20px 0;
}
.our-clients p{
    font-size: .85em;
    width: 80%;
    margin: 0 auto;
}
.clients-card{
    grid-column: 1/13;
    margin: 25px 0;
}
.clients-card img{
    width: var(--image-size);
    border: 4px #fff solid;
}
.clients-card h4{
    font-size: 2em;
}
.clients-card a{
    margin: 10px; 
}